<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>

<div th:fragment="admin_aside"  >
    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl id="menu-person">
                <dt><i class="Hui-iconfont">&#xe60d;</i> 个人资料管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <input id="login_user_id" type="hidden" th:value="${session.user_id}" />
                    <ul>
                        <li><a th:data-href="@{/admin/user/lstPerson?id={userId}(userId=${session.user_id})}" data-title=" 个人资料管理" href="javascript:;"> 个人资料管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-cat">
                <dt><i class="Hui-iconfont">&#xe60d;</i> 体制新闻管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a th:data-href="@{/doct/topic/lst}" data-title="新闻管理" href="javascript:;">新闻管理</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-topic">
                <dt><i class="Hui-iconfont">&#xe60d;</i> 测试管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a th:data-href="@{/doct/exam/lst?type=1}" data-title="生活习惯管理" href="javascript:;">生活习惯管理</a></li>
                        <li><a th:data-href="@{/doct/exam/lst?type=2}" data-title="心理健康管理" href="javascript:;">心理健康管理</a></li>
                        <li><a th:data-href="@{/doct/pyexam/lst}" data-title="体质测试管理" href="javascript:;">体质测试管理</a></li>
                    </ul>
                </dd>
            </dl>
            
           
        </div>
    </aside>
    <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
</div>


</body>
</html>