<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:fragment="header_meta">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <!--<link rel="Bookmark" href="/favicon.ico" >
        <link rel="Shortcut Icon" href="/favicon.ico" />-->
        <!--[if lt IE 9]>
        <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
        <script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" th:href="@{/lib/h-ui/css/H-ui.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/lib/h-ui.admin/css/H-ui.admin.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/lib/h-ui.admin/skin/default/skin.css}" id="skin" />
        <link rel="stylesheet" type="text/css" th:href="@{/lib/h-ui.admin/css/style.css}" />
        
	    <link rel="stylesheet" th:href="@{/lib/kindeditor/themes/default/default.css}" />
	    <link rel="stylesheet" th:href="@{/lib/kindeditor/plugins/code/prettify.css}" />

        <link rel="stylesheet" type="text/css" th:href="@{/lib/datetimepicker/jquery.datetimepicker.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.css}" /> 
        <link rel="stylesheet" type="text/css" th:href="@{/bbs/bbs.css}" />
        <!--[if IE 6]>
        <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
        <script>DD_belatedPNG.fix('*');</script>
        <![endif]-->
        <title>H-ui.admin v3.1</title>
        <meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
        <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    </head>

    <header th:fragment="header_html">
        <header class="navbar-wrapper">
            <div class="navbar navbar-fixed-top">
                <div class="container-fluid cl">
                    <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/login">大学生体质健康测试管理系统</a>
                    <span class="logo navbar-slogan f-l mr-10 hidden-xs">v1.0</span>
                    <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
                    <nav class="nav navbar-nav">

                    </nav>
                    <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                        <ul class="cl">
                            <li><span th:text="${session.user_name}"></span><a th:href="@{/login/admin_logout}">退出</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </header>

    <nav class="breadcrumb" th:fragment="breadcrumb(module_name,page_name)">
        <i class="Hui-iconfont">&#xe67f;</i>
        首页
        <span class="c-gray en">&gt;</span>
        <span th:text="${module_name}"></span>
        <span class="c-gray en">&gt;</span>
        <span th:text="${page_name}"></span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
</html>