<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="tmpl/header :: header_meta">
</head>
<body>
<!--<nav th:replace="tmpl/header :: breadcrumb('会员管理','职工管理')"></nav>-->
<article class="page-container">
    <form  th:action="@{/admin/exam/update}" method="post" class="form form-horizontal" id="form-member-add" >
            
            <div class="Huialert Huialert-error" th:if="${error != null}"><i class="Hui-iconfont">&#xe6a6;</i><span th:text="${error}"></span></div>
            <div th:text="${error}"></div>
            <input type="hidden" name="examId" th:value="${item.examId}" />
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>测试类型：</label>
                <div class="formControls col-xs-4 col-sm-4">
                    <select class="input-text"  name="examType">
                    	<option value="1" selected th:if="${item.examType == 1}">生活习惯</option>
                    	<option value="1" th:if="${item.examType != 1}">生活习惯</option>
                    	<option value="2" selected th:if="${item.examType == 2}">心理健康</option>
                    	<option value="2" th:if="${item.examType != 2}">心理健康</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
                <div class="formControls col-xs-4 col-sm-4">
                    <input type="text" class="input-text"  name="examName" th:value="${item.examName}" minlength="3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
                <div class="formControls col-xs-4 col-sm-4">
                    <textarea class="input-text" name="topicContent" th:text="${item.examContent}"></textarea>
                </div>
            </div>
            

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<footer th:include="tmpl/footer :: footer_script"></footer>

<footer th:include="bbs/tmpl/kindeditor::kindeditor_script"></footer>
	<script type="text/javascript">
		
	</script>
</body>
</body>
</html>