<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="tmpl/header :: header_meta">
</head>
<body>
	<nav th:replace="tmpl/header :: breadcrumb('后台管理','帖子管理')"></nav>
	<article class="page-container">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<form >
					<input type="hidden" name="id" th:value="${id}" />
					<input class="input-text" name="tel" type="text" th:value="${tel}" placeholder="请输入手机号码" style="float:left;width:200px;"/>
					<button class="btn btn-primary " style="float:left;">搜索</button>
				</form>
			
		</div> 
		<div class="mt-20">
			<!-- <div style="margin-bottom:20px;">
				<input type="hidden" id="examId" th:value="${id}" />
				<a class="btn btn-primary btn-submit">分配医生</a> 
				<label th:each="item,itemStat:${doctLst}"> 
					<input type="radio" name="doctor" th:value="${item.userId}" /> 
					<span th:text="${item.loginName}"></span>
				</label>
			</div> -->
			<table
				class="table table-border table-bordered table-hover table-bg table-sort ">
				<thead>
					<tr class="text-c">
						<th width="80"><input type="checkbox" name="" /></th>
						<th width="">账户</th>
						<th width="">手机号码</th>
						<th width="">医生</th>
						<th width="">建议</th>
						<th>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:each="item,itemStat : ${lst}">
						<td><input type="checkbox" name="stu"
							th:value="${item.userId}" /></td>
						<td th:text="${item.stuName}"></td>
						<td th:text="${item.tel}"></td>
						<td th:text="${item.doctName}"></td>
						<td th:text="${item.advice}"></td>
						<td><a th:href="@{/doct/exam/detail(id=${item.examId},stuId=${item.userId})}">编辑</a></td>
					</tr>
				</tbody>
			</table>
			<div id="page" th:utext="${page}"></div>

		</div>
	</article>
	<footer th:replace="tmpl/footer :: footer_script"></footer>
	<script type="text/javascript">
	
	function getIds(name){
		var arr = $("input[name="+name+"]:checked");
		var ids = [];
		for(var x =0  ; x < arr.length;x++){
			ids[x] = arr.eq(x).val();
		}
		return ids.join(",");
	}
    $(function(){
		$(".btn-submit").click(function(){
			var exam_id = $("#examId").val();
			var stu_id = getIds("stu");
			var doct_id = getIds("doctor");
			
			$.ajax({
				url:"/admin/exam/assign",
				data:{stu:stu_id,doct:doct_id,exam_id:exam_id},
				dataType:"json",
				type:"post",
				success:function(data){
					location.reload();
				}
			})
		});
    });
</script>
</body>
</html>