<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="tmpl/header :: header_meta">
</head>
<body>
<nav th:replace="tmpl/header :: breadcrumb('后台管理','帖子管理')"></nav>
<article class="page-container">
    
    <div class="mt-20">

        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">测试名称</th>
                <th width="100">测试类型</th>
                <th width="260">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="item,itemStat : ${lst}">
                <td th:text="${item.examId}"></td>
                <td th:text="${item.examName}"></td>
                <td >
                	<span th:if="${item.examType == 1}">生活习惯</span>
                	<span th:if="${item.examType == 2}">心理健康</span>
                </td>
                <td class="td-manage">
                	<a title="编辑" th:href="@{/stu/answer/edit?id={id}(id=${item.examId})}"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>填写</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</article>
<footer th:replace="tmpl/footer :: footer_script"></footer>
<script type="text/javascript">
    $(function(){

    });
</script>
</body>
</html>