<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="tmpl/header :: header_meta">
</head>
<body>
	<nav th:replace="tmpl/header :: breadcrumb('后台管理','帖子管理')"></nav>
	<article class="page-container">
		<div class="mt-20">
		<style type="text/css">
			#mytable tr td:nth-child(odd){
				width:100px;
				text-align:right;
				padding-right:20px;
			}
			#mytable tr td:nth-child(even){
				width:350px;
			}
		</style>
			<table id="mytable" 
				class="table table-border table-bordered table-hover table-bg table-sort ">
				
				<tbody>
					<tr>
						<td>姓名</td>
						<td th:text="${name}"></td>
						<td>性别</td>
						<td></td>
					</tr>
					<tr>
						<td>身高</td>
						<td th:text="${item.height}"></td>
						<td>体重</td>
						<td th:text="${item.weight}"></td>
					</tr>
					<tr>
						<td>肺活量</td>
						<td th:text="${item.vitalCapacity}"></td>
						<td>听力</td>
						<td th:text="${item.hearing}"></td>
					</tr>
					<tr>
						<td>左眼</td>
						<td th:text="${item.leftEye}"></td>
						<td>右眼</td>
						<td th:text="${item.rightEye}"></td>
					</tr>
					<tr>
						<td>建议</td>
						<td colspan="3" style="min-height:48px;" th:text="${item.advice}"></td>
					</tr>
					
				</tbody>
			</table>
			
		</div>
	</article>
	<footer th:replace="tmpl/footer :: footer_script"></footer>
	<script type="text/javascript">
	
</script>
</body>
</html>